*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 6.25%;
}

body {
  background-color: rgb(0, 19, 46);
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 120rem;
}

header {
  width: 1000rem;
  border: 2rem solid rgb(85, 232, 255);
  border-radius: 7rem;
  margin-bottom: 15rem;
  display: flex;
  justify-content: end;
  padding: 10rem;
}

.container {
  width: 1000rem;
  border: 2rem solid rgb(85, 232, 255);
  border-radius: 7rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10rem;
}

.load-mode {
  width: 1000rem;
  border: 2rem solid rgb(85, 232, 255);
  border-radius: 7rem;
  display: grid;
  grid-template-columns: 1fr;
  padding: 10rem;
}

.generate-btn-1,
.generate-btn-2,
.download-btn {
  color: white;
  background-color: rgb(0, 68, 0);
  border: 3rem solid rgb(0, 255, 0);
  border-radius: 10rem;
  font-size: 28rem;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5rem 18rem 5rem 18rem;
}

.generate-btn-1:hover,
.generate-btn-2:hover,
.download-btn:hover {
  background-color: rgb(0, 152, 0);
  cursor: pointer;
}

.qr-img {
  width: 200rem;
  margin-bottom: 15rem;
}

p {
  font-size: 20rem;
  margin-bottom: 15rem;
}

.qr-div {
  background-color: red;
  color: rgb(0, 0, 68);
  padding: 55rem 30rem 25rem 30rem;
  border-radius: 20rem;
}

.download-div {
  padding-left: 162rem;
}

span {
  font-size: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  width: 150rem;
  height: 150rem;
  border: 15rem solid #cfcfcf;
  border-top: 15rem solid rgb(0, 208, 255);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.qr-div.green {
  background-color: green;
}
